services:
  backend:
    image: nova-cinema-backend:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nova-cinema-backend
    env_file:
      - .env
    ports:
      - '${PORT}:3000'
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:7
    container_name: nova-cinema-mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
