/* Custom styles for Swiper navigation buttons */
.swiper-button-prev-custom,
.swiper-button-next-custom {
background: transparent;
  border: none;
  padding: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  color: oklch(85.2% 0.199 91.936)
}

.swiper-button-prev-custom {
  left: -4rem;
}

.swiper-button-next-custom {
  right: -4rem;
}

.swiper-button-prev-custom.swiper-button-disabled,
.swiper-button-next-custom.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.swiper-pagination-bullet {
  background-color: #a0a0a0;
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: background-color 0.3s ease;
  margin-top: 0;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
